# Root
*.pdf
*.png
*.zip
Plantilla_TFG_latex/

# Python
practice/venv/
**/__pycache__/
**/*.pyc
practice/_best_checkpoint.model
practice/otros_ejecutables
practice/fine_tuning*

# LaTeX 
memoria/*.acn
memoria/*.acr
memoria/*.alg
memoria/*.aux
memoria/*.bbl
memoria/*.bcf
memoria/*.blg
memoria/*.fdb_latexmk
memoria/*.fls
memoria/*.glg
memoria/*.glo
memoria/*.gls
memoria/*.glsdefs
memoria/*.idx
memoria/*.ind
memoria/*.ist
memoria/*.lof
memoria/*.log
memoria/*.lot
memoria/*.out
memoria/*.run.xml
memoria/*.synctex.gz
memoria/*.toc
memoria/*.xdv
memoria/backup
